@import '../../../styles/_styles.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.bi-check-circle-fill{
  float: right;
  font-size: 2em;
  margin-top: 12px;
  margin-right: 10px;
}

.bi-check-circle-fill:hover{
  cursor: pointer;
}

.wrapper-list-buttons {
  display: grid;
  grid-template-columns: 110px 110px 110px 110px;
  justify-content: center;
  margin-left: 90px;
}

.wrapper-task-details {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: center;
  margin-left: 10px;
  font-size: 30px;
}

.refresh-data{
  width: 180px;
  margin-right: 20px;
  margin-top: 10px;
}

.control-buttons{
  font-size: 30px;
  margin-left: 10px;
}

.clickable-edit{
  margin-top: 24px;
  font-size: 22px;
}

.members {
  border-radius: 0;
  outline: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $white-color;
  background-color: $cyan-color;
  width: 470px;
  padding: 2px;
  margin-top: 0.5rem;
  font-size: 16px;
  float: left;
  text-align: center;
}

.members-scroll::-webkit-scrollbar {
  display: none;
}

.members-scroll {
  overflow-y: scroll;
  height: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 600px) {
  .list-custom {
    width: 320px;
  }

  .wrapper-list-buttons {
    grid-template-columns: 80px 80px 80px 80px;
    margin-left: 80px;
  }

  .task-details {
    width: 350px;
  }
  
  .scrollable-div-tasks{
    width:auto;
  }
}