@import '../../../styles/_styles.scss';
@import '../../../styles/authentification-style.scss';

.invalid-feedback{
    margin-bottom: 20px;
}

.btn-primary {
    cursor: pointer;
    border-radius: 5em;
    border: 0;
    font-size: 17px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .forgot-password-form-container {
        border-radius: 0px;
    }
}
