<div class="forgot-password-form-container">
    <div class="forgot-password-title">Password Recover</div>
    <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
      <input 
        class="email-input" 
        type="email" 
        placeholder="Email" 
        formControlName="email" 
        [ngClass]="{'is-invalid': email?.errors && (email?.touched || email?.dirty), 'is-valid':email?.valid}">
        <div class="invalid-feedback d-flex justify-content-center">
          <strong *ngIf="email?.errors?.['email']">
            Invalid Email
          </strong>
        </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid" (click)="sendForgotPasswordEmail(forgotPasswordForm.value)">Send Email</button>
      </div>
    </form>
</div>
