$login-color: #8C55AA;
$white-color: #fff;
$backgroud-user-color: rgba(136, 126, 126, 0.04);
$backgroud-user-border-color: rgba(0, 0, 0, 0.02);
$comp-focus: red;
$text-shadow-color:rgba(117, 117, 117, 0.12);
$green-color:green;
$light-pink:#E1BEE7;
$submit-a-color:rgba(0, 0, 0, 0.04);
$submit-background:linear-gradient(to right, #ec6f66 , #f3a183);
$main-box-shadow: rgba(0, 0, 0, 0.14);
$user-pass-text-color: rgb(38, 50, 56);
$user-profile-details-background-color: #eee;
$cyan-color: #56cc9d;
$red-color: red;
$red-background-color: rgba(210, 0, 0, 0.75);
$red-background-color-hover: rgba(210, 0, 0, 0.9);
$red-background-color-hover-border: rgba(210, 0, 0, 0.72);
$red-background-color-active: rgba(210, 0, 0, 0.1);
$red-background-color-active-border: rgba(210, 0, 0, 0.8);
$green-background: #198754;
$green-background-hover: #157347;
$green-background-hover-border: #146c43;
$green-background-active: #146c43;
$green-background-active-border: #13653f;