<div class="forgot-password-form-container">
    <div class="forgot-password-title">Password Recover</div>
    <form class="forgot-password-form" [formGroup]="resetPasswordForm">
      <input 
        class="password-input" 
        type="password" 
        placeholder="new Password" 
        formControlName="newPassword" 
        [ngClass]="{'is-invalid': password?.errors && (password?.touched || password?.dirty), 'is-valid':password?.valid}">
        <div class="invalid-feedback d-flex justify-content-center">
            <strong *ngIf="password?.errors?.['minlength']">
                Password length must be greater than {{password?.errors?.['minlength']?.['requiredLength']}} characters
            </strong>
            <strong *ngIf="password?.errors?.['pattern']">
                Password must contain a Number, an Upper and Lower case character
            </strong>
        </div>        
        <input 
        class="password-input" 
        type="password" 
        placeholder="Confirm Password" 
        formControlName="repeatNewPassword" 
        [ngClass]="{'is-invalid': confirmPassword?.errors && (confirmPassword?.touched || confirmPassword?.dirty), 'is-valid':confirmPassword?.valid}">
        <div class="invalid-feedback d-flex justify-content-center">
            <strong *ngIf="confirmPassword?.errors?.['minlength']">
                Password length must be greater than {{confirmPassword?.errors?.['minlength']?.['requiredLength']}} characters
            </strong>
            <strong *ngIf="confirmPassword?.errors?.['pattern']">
                Password must contain a Number, an Upper and Lower case character
            </strong>
        </div>        
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword(resetPasswordForm.value)">Reset Password</button>
      </div>
    </form>
</div>
